@charset "utf-8";

/*
   Make sure to add something to the css
  Hi mr professor how was your day?
   Coding Final Challenge

   Author: Tobius Tucker
   Date:   4/27/2025
   
   Filename: TLTuck5.github.io

*/
h1{
border: 2px, dotted, red;
   background-color: gray;
}
ul {
text-size: 28px;
text-shadow: black, -4px -3px 5px
}
