@charset "utf-8";

/*
   Make sure to add something to the css
  Hi mr professor how was your day?
   Coding Final Challenge

   Author: Tobius Tucker
   Date:   4/27/2025
   
   Filename: TLTuck5.github.io

*/
h1{
border: 4px, dotted, red;
   background-color: ivory;
text-align: center;
}
p {
font-size: 28px;
text-align: center;
color: ivory
}
ul, a {
font-size: 28px;
text-shadow: black, -4px -3px 5px
}
img{
margin: auto;
display: block;
border: 12px, groove, grey;
}

#grad {
background-image: linear-gradient(300deg, red, grey, ivory);
}
